<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <title>All users</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<h2>All users</h2>

<style>
    .button {
        margin-right: 20px;
    }
</style>
<a href="/save-user" class="button">
    CREATE
</a>

<a href="/delete-user" class="button">
    DELETE
</a>

<a href="/update-user" class="button">
    UPDATE
</a>


<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
    </tr>
    </tbody>


    <!-- Данные будут автоматически добавлены для каждого пользователя -->
</table>
</body>
</html>